/*Général*/

html,body{
    background: #FFA3A3;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background: white;
    border: 1px black solid;
    border-radius: 9px;
}

.button p{
    margin: 1em 2em;
}

/*Enter Screen*/

.enter-screen{
    height: 50%;
    position: relative;
    width: 60%;
    display: flex; /*flex*/
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.enter-screen>p{
    font-size: 3.5em;
}

.best-score{
    width: 60%;
    margin-bottom: 3em;;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.best-score>*{
    margin: 1em;
    font-size: 2.3em;
}

.best-score img{
    height: 1.2em;
}

.enter-button-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Welcome Screen*/

.welcome-screen{
    display: none; /*none*/
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.welcome-screen p{
    font-size: 2.3em;
}

.welcome1{
    display: block;
}

.welcome2{
    display: none;
}

.welcome3{
    display: none;
}

.welcome4{
    display: none;
}

.welcome-screen>.button{
    display: none;
}

/*Player Screen*/

.player-screen{
    display: none; /*none*/
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 50%;
    width: 60%;
}

.player-screen>p{
    font-size: 2.5em;
}

.welcome-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-button{
    font-size: 2em;
    margin: 1.5em;
    background: white;
    border: 1px black solid;
    border-radius: 9px;
}

.player-button p{
    margin: 1.7em 2em;
}

/*Game-screen*/

.game-screen{
    height: 90%;
    width: 90%;
    display: none; /*none*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-key-player{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

canvas{
    display: none;
    position: absolute;
    top: 6.8vh;
    left: 14vh;
    background: white;
}

.finish-line{
    height: 70%;
    width: 1.2%;
    background: black;
    border-radius: 10px;
}

.player1{
    position: relative;
}

.player2{
    position: relative;
}

.player3{
    position: relative;
}

.player4{
    position: relative;
}